In [46]:
import pandas as pd
import numpy as np

In [47]:
ibc_df = pd.read_csv("incident-based_crime_08-12.csv", skiprows=1, skipfooter=35)

C:\Users\ebube\AppData\Local\Temp\ipykernel_30392\4087212380.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  ibc_df = pd.read_csv("incident-based_crime_08-12.csv", skiprows=1, skipfooter=35)

In [48]:
ibc_df.tail()

,Geography,Violations,2008,2009,2010,2011,2012
3388,Nunavut (15),Excise Act,0.00,0.00,6.09,0.00,2.97
3389,Nunavut (15),Total Immigration and Refugee Protection Act (46),3.16,0.00,0.00,0.00,0.00
3390,Nunavut (15),Firearms Act,18.98,6.21,18.28,11.92,17.81
3391,Nunavut (15),National Defense Act,0.00,0.00,0.00,0.00,0.00
3392,Nunavut (15),Other federal statutes,56.94,52.81,33.51,50.67,11.87

In [49]:
ibc_df.head()

,Geography,Violations,2008,2009,2010,2011,2012
0,Canada (50),"Total, all violations",7458.64,7260.24,6971.49,6599.93,6408.53
1,Canada (50),"Total, all Criminal Code violations (including...",7052.37,6875.67,6555.55,6177.71,5991.97
2,Canada (50),"Total, all Criminal Code violations (excluding...",6616.55,6442.36,6136.98,5755.69,5588.11
3,Canada (50),Total violent Criminal Code violations (16),1331.45,1318.04,1287.03,1230.54,1190.12
4,Canada (50),"Homicide (17,24)",1.83,1.81,1.62,1.73,1.56

In [50]:
ibc_df["Geography"] = ibc_df["Geography"].str.replace(r"\s\(\d+(?:,\d+)*\)", '', regex=True)
ibc_df["Violations"] = ibc_df["Violations"].str.replace(r"\s\(\d+(?:,\d+)*\)", '', regex=True)

pivoted_df = ibc_df.pivot_table(index="Violations", columns="Geography", values="2008").reset_index()
# ibc_df.tail()
pivoted_df.head()
pivoted_df

Geography,Violations,Alberta,"Barrie, Ontario","Brantford, Ontario",British Columbia,Canada,"Guelph, Ontario","Hamilton, Ontario","Kingston, Ontario","Kitchener-Cambridge-Waterloo, Ontario",...,"Peterborough, Ontario",Prince Edward Island,Quebec,Saskatchewan,"St.Catharines-Niagara, Ontario","Sudbury, Ontario","Thunder Bay, Ontario","Toronto, Ontario","Windsor, Ontario",Yukon
0,"Altering, removing or destroying Vehicle Ident...",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Arson,52.39,12.83,115.35,54.63,40.13,32.79,33.88,17.14,19.55,...,9.16,27.95,48.31,75.07,32.33,52.79,39.89,12.57,20.15,42.30
2,"Assault, level 1",690.66,405.56,692.82,674.95,543.29,384.45,470.78,402.52,328.80,...,436.14,483.70,404.82,1181.22,319.93,463.54,795.30,354.64,318.25,2012.08
3,"Assault, level 2, weapon or bodily harm",195.98,79.06,153.80,212.83,164.56,90.17,120.35,86.34,122.76,...,79.07,75.24,146.13,383.32,126.16,169.28,206.10,116.99,103.48,486.40
4,"Assault, level 3, aggravated",18.76,7.70,7.98,9.65,10.78,3.28,11.77,8.89,7.23,...,7.49,1.43,3.32,35.91,10.17,7.89,32.41,10.00,5.72,36.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,"Total, all Criminal Code violations (including...",9697.45,5715.36,8028.70,10013.02,7052.37,5013.40,5581.78,5789.51,5327.99,...,5579.09,6710.24,5637.71,13762.10,5976.61,5527.95,8776.55,4217.61,5547.13,23329.31
113,"Total, all violations",10055.51,6076.26,8431.33,10799.10,7458.64,5256.04,5836.81,6047.91,5661.47,...,5867.08,6895.12,5950.25,14552.80,6167.66,5901.09,9023.37,4463.46,5855.16,24214.50
114,"Total, possession, other Controlled Drugs and ...",15.26,35.42,24.67,63.61,27.29,13.94,10.35,27.30,13.68,...,11.65,15.05,29.96,22.39,7.01,26.09,17.45,9.93,8.42,33.23
115,Uttering threats,251.02,141.18,299.62,354.33,237.22,54.92,182.73,195.54,125.11,...,143.99,247.23,221.65,368.42,118.47,145.62,185.32,137.69,200.34,682.78
116,Youth Criminal Justice Act,24.14,45.69,74.72,31.54,32.68,41.81,22.54,20.95,54.54,...,53.27,7.17,13.52,191.36,24.42,60.67,74.79,6.20,36.10,33.23

In [51]:
ibc_df.groupby("Violations")

In [52]:
"""
So basically for cities, it's kind of a better sample to analyze how age, income level and diversity affects the crime rate
But I can't seem to find reasonable crime data for individual cities, rather i have for provinces
"""

"\nSo basically for cities, it's kind of a better sample to analyze how age, income level and diversity affects the crime rate\nBut I can't seem to find reasonable crime data for individual cities, rather i have for provinces\n"

In [53]:
provinces = ["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Nova Scotia", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan"]

provinces_crimes_df = ibc_df[ibc_df["Geography"].str.fullmatch("|".join(provinces))]

pivoted_df = provinces_crimes_df.pivot_table(index="Violations", columns="Geography", values="2008").reset_index()
# ibc_df.tail()
pivoted_df.head()
pivoted_df

Geography,Violations,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland and Labrador,Nova Scotia,Ontario,Prince Edward Island,Quebec,Saskatchewan
0,"Altering, removing or destroying Vehicle Ident...",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Arson,52.39,54.63,69.09,61.32,32.78,45.23,20.17,27.95,48.31,75.07
2,"Assault, level 1",690.66,674.95,846.49,628.99,674.43,693.89,411.75,483.70,404.82,1181.22
3,"Assault, level 2, weapon or bodily harm",195.98,212.83,331.59,144.60,142.00,161.18,114.92,75.24,146.13,383.32
4,"Assault, level 3, aggravated",18.76,9.65,27.12,7.77,5.73,9.07,10.08,1.43,3.32,35.91
...,...,...,...,...,...,...,...,...,...,...,...
112,"Total, all Criminal Code violations (including...",9697.45,10013.02,10275.10,6161.25,6749.26,7345.71,5136.05,6710.24,5637.71,13762.10
113,"Total, all violations",10055.51,10799.10,10632.33,6506.00,7144.24,7745.08,5456.92,6895.12,5950.25,14552.80
114,"Total, possession, other Controlled Drugs and ...",15.26,63.61,10.12,17.54,13.23,25.07,20.06,15.05,29.96,22.39
115,Uttering threats,251.02,354.33,327.94,339.80,349.16,418.68,153.04,247.23,221.65,368.42
116,Youth Criminal Justice Act,24.14,31.54,44.21,19.55,31.60,28.27,32.96,7.17,13.52,191.36

In [54]:
"""
Idea is for analyzing criems in different cities, use total violations
Then for trends over time use the incident base crime from canada
for analyzing and identifying regions with higher or lower crime rates 
For analyzig crime rate use line charts with different colours the show different crimes, general canada crimes, use 2015 data
For comparing crime rates with socioeconomic factors use 2016 census data of cities with the analyzed crime rate
"""

'\nIdea is for analyzing criems in different cities, use total violations\nThen for trends over time use the incident base crime from canada\nfor analyzing and identifying regions with higher or lower crime rates \nFor analyzig crime rate use line charts with different colours the show different crimes, general canada crimes, use 2015 data\nFor comparing crime rates with socioeconomic factors use 2016 census data of cities with the analyzed crime rate\n'

In [55]:
cities = ["Toronto", "Brampton", "Montreal", "Halifax", "Calgary", "Fredericton", "Vancouver"]
crimes = ["Homicide", "Murder, first degree", "Attempted murder", "Sexual assault, level 3 aggravated", "Sexual exploitation", "Assault, level 3, aggravated", "Robbery", "Kidnapping", "Extortion", "Incest", "Trafficking in persons", "Fraud", "Shoplifting over $5,000", "Arson", "Total prostitution", "Total impaired driving", "Total Drug violations"]
years = [2019, 2020, 2021, 2022, 2023]
pivoted_df[pivoted_df["Violations"].str.contains("|".join(crimes), regex=True)]

Geography,Violations,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland and Labrador,Nova Scotia,Ontario,Prince Edward Island,Quebec,Saskatchewan
1,Arson,52.39,54.63,69.09,61.32,32.78,45.23,20.17,27.95,48.31,75.07
4,"Assault, level 3, aggravated",18.76,9.65,27.12,7.77,5.73,9.07,10.08,1.43,3.32,35.91
5,Attempted murder,2.12,2.30,2.99,0.94,0.39,3.20,2.13,0.72,1.97,3.16
34,Extortion,3.17,6.16,1.16,1.87,0.59,3.31,3.71,2.87,5.83,1.58
38,Fraud,350.96,321.76,206.77,256.26,224.35,293.98,279.88,253.68,209.69,316.83
43,Homicide,3.06,2.67,4.48,0.40,0.99,1.28,1.36,1.43,1.19,2.96
90,Total impaired driving,475.34,326.25,251.06,364.03,312.63,284.49,145.00,333.22,211.31,605.95
102,Total prostitution,19.04,19.27,15.43,8.84,2.76,10.13,8.27,0.00,8.41,20.12

In [56]:
# import chardet
# with open("Fredericton_Census_Data_2016.csv", "rb") as f:
#     result = chardet.detect(f.read())
#     print(result)  # Check the detected encoding

In [ ]:

cities_census_df = [pd.read_csv(f"CensusData/{city}_Census_Data_2016.csv", skiprows=[0, 2], skipfooter=540, encoding="ISO-8859-1", engine="python") for city in cities]

# for city in cities_df:
#     print(city.tail())
census_data = ["Population; 2016", ]

socio_economic_df = cities_census_df
cities_census_df[0].head(10)

,Topic,Characteristics,Note,Total,Flag_Total,Male,Flag_Male,Female,Flag_Female,Total.1,Flag_Total.1,Male.1,Flag_Male.1,Female.1,Flag_Female.1
0,Population and dwellings,Population; 2016,1.0,2731571.0,NaN,NaN,...,NaN,...,13448494.00,NaN,NaN,...,NaN,...
1,Population and dwellings,Population; 2011,1.0,2615060.0,NaN,NaN,...,NaN,...,12851821.00,NaN,NaN,...,NaN,...
2,Population and dwellings,Population percentage change; 2011 to 2016,NaN,4.5,NaN,NaN,...,NaN,...,4.60,NaN,NaN,...,NaN,...
3,Population and dwellings,Total private dwellings,2.0,1179057.0,NaN,NaN,...,NaN,...,5598391.00,NaN,NaN,...,NaN,...
4,Population and dwellings,Private dwellings occupied by usual residents,3.0,1112929.0,NaN,NaN,...,NaN,...,5169174.00,NaN,NaN,...,NaN,...
5,Population and dwellings,Population density per square kilometre,NaN,4334.4,NaN,NaN,...,NaN,...,14.80,NaN,NaN,...,NaN,...
6,Population and dwellings,Land area in square kilometres,NaN,630.2,NaN,NaN,...,NaN,...,908699.33,NaN,NaN,...,NaN,...
7,Age characteristics,Total - Age groups and average age of the popu...,4.0,2731575.0,NaN,1313590.0,NaN,1417985.0,NaN,13448495.00,NaN,6559390.0,NaN,6889105.0,NaN
8,Age characteristics,0 to 14 years,NaN,398135.0,NaN,204190.0,NaN,193945.0,NaN,2207970.00,NaN,1131615.0,NaN,1076350.0,NaN
9,Age characteristics,0 to 4 years,NaN,136000.0,NaN,69895.0,NaN,66105.0,NaN,697360.00,NaN,357300.0,NaN,340055.0,NaN

In [115]:
cities_crime_dfs = [pd.read_csv(f"CrimeData/{city}_Crime_Data.csv") for city in cities]

for df in cities_crime_dfs:
    df["GEO"] = df["GEO"].str.replace(r"\s\[\d+(?:,\d+)*\]", '', regex=True)
    df["Violations"] = df["Violations"].str.replace(r"\s\[\d+(?:,\d+)*\]", '', regex=True)

cleaned_cities_cime_dfs = [df[df["Statistics"] == "Rate per 100,000 population"].loc[:, ["REF_DATE", "Violations", "Statistics", "VALUE"]] for df in cities_crime_dfs]

cleaned_cities_cime_dfs[0].head(10)

for index in range(len(cities)):
    cleaned_cities_cime_dfs[index].rename(columns={"VALUE": cities[index]}, inplace=True)


cleaned_cities_cime_dfs[0].head(10)

    REF_DATE             Violations                   Statistics  Toronto
9       2015  Total, all violations  Rate per 100,000 population  3818.31
10      2016  Total, all violations  Rate per 100,000 population  3938.59
11      2017  Total, all violations  Rate per 100,000 population  4142.40
12      2018  Total, all violations  Rate per 100,000 population  4529.21
13      2019  Total, all violations  Rate per 100,000 population  4589.50
14      2020  Total, all violations  Rate per 100,000 population  3865.85
15      2021  Total, all violations  Rate per 100,000 population  3991.92
16      2022  Total, all violations  Rate per 100,000 population  4601.99
17      2023  Total, all violations  Rate per 100,000 population  5326.74

In [ ]:
merged_cities_crime_df = cleaned_cities_cime_dfs[0]

for df in cleaned_cities_cime_dfs[1:]:
    merged_cities_crime_df = pd.merge(merged_cities_crime_df, df.drop(columns=["Violations", "Statistics"]), how="left", on="REF_DATE")

merged_cities_crime_df.reset_index(inplace=True)
merged_cities_crime_df.drop(columns="index",  inplace=True)
merged_cities_crime_df
# Could remove ref_date and make the dates the index ["2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023"]

,REF_DATE,Violations,Statistics,Toronto,Brampton,Montreal,Halifax,Calgary,Fredericton,Vancouver
0,2015,"Total, all violations","Rate per 100,000 population",3818.31,3059.30,4947.02,5501.50,5431.29,6308.71,8264.09
1,2016,"Total, all violations","Rate per 100,000 population",3938.59,3100.57,4727.04,5337.91,5670.31,6534.47,8776.22
2,2017,"Total, all violations","Rate per 100,000 population",4142.40,3221.90,4709.81,5691.71,5860.16,6625.72,8719.18
3,2018,"Total, all violations","Rate per 100,000 population",4529.21,3335.07,4534.26,5773.81,6528.90,6009.45,8729.38
4,2019,"Total, all violations","Rate per 100,000 population",4589.50,2912.61,4836.96,5349.86,7050.56,6446.83,8754.07
5,2020,"Total, all violations","Rate per 100,000 population",3865.85,2540.33,4311.27,5059.29,5878.82,6536.24,7428.96
6,2021,"Total, all violations","Rate per 100,000 population",3991.92,2507.39,4608.61,5251.49,5705.70,6927.35,6426.91
7,2022,"Total, all violations","Rate per 100,000 population",4601.99,3055.66,5163.13,6029.66,6126.09,8706.11,6609.66
8,2023,"Total, all violations","Rate per 100,000 population",5326.74,3408.14,5415.87,5967.30,5681.60,8852.26,6924.62